
.select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select{
  position: relative;
  width: 100%;
  padding-top: 5px;
}
 
.select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: rgba(0,0,0,0.10);
	color: #fff ;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.select select:hover{
	background: #B5B1B1;
}

.upload{
    padding: 5px 10px;
    margin-top: 18px;
    background-color:#D9D9D9;
    color:#fff;
    border:0px solid #fff;
}
 
.upload:hover{
    color:#353535;
    background: #D9D9D9;
}

.inputForm[type=text], .inputForm[type=number]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
}

.inputSubmit[type=submit]{
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: rgb(232,110,108);
    color: #fff;
}
