.newContainer{
    display: flex;
    flex-direction: column;
}
.select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select{
  position: relative;
  width: 100%;
  margin: 10px 0px;
}
.input-Form{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
 
.select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	outline: none; 
    border-radius: 20px;
    color: #999;
    height: 45px;
    padding: 7px 10;
    border: 1px solid #999;
    transition: all 0.25s ease;
}

.select select:hover, .input-Form:hover{
    border: 1px solid rgb(232,110,108);
    color: rgb(232,110,108);
}

.select select:hover::placeholder, .input-Form:hover::placeholder{
    color: rgb(232,110,108);
}

.upload{
    margin-top: 18px;
    color:#999;
    border:0px solid #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
 
.upload:hover, .upload::placeholder{
    color: rgb(232,110,108);
}


.input-Form::placeholder{
    color: #999;
}
.input-Submit{
    border: none;
    background-color: rgb(198, 182, 157);
    text-decoration: underline;
    color: #fff;
}

.signin-btn{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(198,182,157);
}

