.wrapper{
    max-height: 100%;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    margin: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
   }
   .wrapper::-webkit-scrollbar{
     width: 0;
     height: 0;
   }
   
   .boxCategory:hover, .boxCategory:focus, .boxCategory:active {
     box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     transition: box-shadow ease-in-out 150ms,transform ease-in-out 150ms;
     transition-delay: 50ms;
   }
   
   .wrapper .boxCategory{
     min-width: 110px;
     height: auto;
     background-color: rgb(241, 241, 241);
     margin: 20px;
     border-radius: 10px;
     padding: 8px;
   }
   .boxCategory:hover{
    background-color:rgba(232, 110, 108, 0.541);
   }
   .boxCategoryName{
    background-color: #fff;
    }

    .h6Type{
      margin-top: 15px;
     
    }
    .linkRandom{
      color: rgb(232, 110, 108);

    }
    a.nameCategory{
      color: black;
    }
    a.nameCategory:hover{
      color: #fff;
      text-decoration: none;
      list-style: none;
  }
  .align_photos{
    object-fit: cover;
    height: 150px;
  }

  a.linkRandom{
    text-decoration: none;
    color: rgb(232, 110, 108);
  }