a {
    text-decoration: none;
    color: rgb(232, 110, 108);
}
.position_img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.profile_img {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;

}

.border {
  border-bottom: 1px solid rgb(241, 241, 241);
}

.h1_title {
  color: rgb(232, 110, 108);
  text-align: center;
  margin: 15px;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom:50px;
  margin-top:30px
}

.description {
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.name {
  font-weight: bold;
}

.icon {
  height: 50px;
  width: 50px;
}

.myservices_icons {
  height: 50px;
}
.iconDelete {
  border: none;
  background-color: white;
}
.icons {
  height: 20px;
}

.service_img {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 25%;
  background-size: 100% auto;
}

.buttons_profile {
    border-radius: 2rem;
    border: 2px solid rgb(232, 110, 108);
    background-color: white;
    color: rgb(232, 110, 108);
    padding: 5px;
    margin: 5px;
    font-size:13px;
    text-align: center;
   
}
.buttons_profile:hover {
  cursor: pointer;
  background-color:rgba(232, 110, 108, 0.60);
  color:white;
  font-weight: bold;
}

.header {
    padding-top: 100px;

}

@media only screen and (max-width: 600px) {
    .header {
        margin: 20px;
    
    }
  }


.align_buttons {
    display: flex;
}


