.mainContainer{
    display: flex;
    flex-direction: column;
}

.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
    z-index: 1;
}

.tituloSearch{
    margin-bottom: 20px;
}
.tituloSearch:hover{
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(232,110,108);
}

.btnService{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-link{
    border: 2px solid #fff;
    background-color: rgb(232,110,108);
    border-radius: 2rem;
    color: #fff;
}

.btn-link:hover, .btn-link.focus,.btn-link:focus, .btn-link:active {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: box-shadow ease-in-out 200ms,transform ease-in-out 200ms;
    transition-delay: 50ms;
    background-color: rgb(232,110,108);
    text-decoration: none;
    list-style: none;
    border: 1px solid rgb(232,110,108);
    color: #fff;
  }
  
.randomContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}

.secondSection{
    background-color: rgb(241, 241, 241);
    padding: 100px;
}
.serviceTypeContainer{
    z-index: 0;
}