.margin_header {
  margin-top: 150px;
}

.serviceTypeName {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
.serviceTypeName > div > img {
  width: 200px;
}
.h1_title {
  color: rgb(232, 110, 108);
  text-align: center;
  margin: 15px;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 30px;
}
.iconTitle > div > img {
  width: 100px;
  background-color: rgb(232, 110, 108);
  border-radius: 1rem;
  padding: 10px;
}

.iconTitle {
  display: flex;
  justify-content: center;
}
.header {
  padding-top: 100px;
}
.h1_title {
  color: rgb(232, 110, 108);
  text-align: center;
  margin: 15px;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 30px;
}
.align_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center_text{
 text-align: center;
 border-radius: 2rem;
 border: 1px solid rgb(198, 182, 157);
 padding:15px;
}

.box_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid rgb(198, 182, 157);
  padding:15px;
}

.form_profile {
  border-radius: 2rem;
  border: 1px solid rgb(198, 182, 157);
}

.buttons_profile {
  border-radius: 2rem;
  border: 2px solid rgb(232, 110, 108);
  background-color: white;
  color: rgb(232, 110, 108);
  padding: 5px;
  margin: 5px;
  font-size: 13px;
  text-align: center;
}
.buttons_profile:hover {
  cursor: pointer;
  background-color: rgba(232, 110, 108, 0.6);
  color: white;
  font-weight: bold;
}

.align_map{
  object-fit: cover;
  height: 150px;

}
.input_Form{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 40%;
  border: 1px solid #999;
  outline: none;
}
.input_Form:hover{
  border: 1px solid rgb(232,110,108);
  color: rgb(232,110,108);
}
.uploadEdit{
  margin-top: 18px;
  color:#999;
  border:0px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 40%;
  border: 1px solid #999;
  outline: none;
}

.uploadEdit:hover, .uploadEdit::placeholder{
  color: rgb(232,110,108);
  border: 1px solid rgb(232,110,108);
}
@media only screen and (max-width: 900px) {
  .booking_service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .map{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}






