.bg-light {
  background-color: rgb(232,110,108)!important;
}

.containerIcons{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  
}
.containerFooter{
  margin-left: 35%;
}
.navbarInfo{
  padding: 0px;
}
.iconFooter{
  margin:  5px;
}

@media (min-width: 992px){
  .containerFooter{
    margin-left: 44%;
  }

}