
a.liSearch{
    text-decoration: none;
} 

.search_Container{
    position: absolute;
    cursor: pointer;
}
.form-control{
    border-radius: 2rem;
    width: 300px;
    border: 1px solid rgb(232,110,108);
    margin-bottom: 10px;
    cursor: pointer;
}
.boxFilter{
    border: 1px solid rgb(232,110,108);
    background: #fff;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    border-radius: 0.4rem;
    z-index: 1;
}
.boxFilter>p{
    margin: 0;
}
.NameService{
    color: rgb(167, 153, 132);
    margin-top:10px;
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;

}

.wrapperSearch{
    display: flex;
    overflow-x: auto;
    margin: 50px;
    text-align: center;
    border: none;
   }
   .form-control:hover::placeholder{
       color:#fff;
   }
   .form-control:focus::placeholder{
    color:#fff;
}

   .form-control:hover, .form-control:focus{
    background: rgb(232,110,108);
    color: #fff;
   }
   .form-control:focus{
    border: 1px solid black;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
   }
@media screen and (min-width:992px){
    .boxFilter{
        width: 93%;
    }
}