  .credits {
    font-style: italic;
    color: gray;
    font-size: 12px;
  }
  .description {
    font-style: normal;
    color: gray;
    font-size: 12px;
  }
  
  .name {
    font-weight: bold;
  }


 
  