* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

nav.navbar { 
  display: flex;
  padding: 20px;
  background: #686de0; 
}

nav.navbar .navbar-user{
  margin-left: 10px;
  color: white;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.wrapper{
 max-height: 180px;
 border: 1px solid #ddd;
 display: flex;
 overflow-x: auto;
 margin: 20px;
 text-align: center;
 border: none;
 cursor: pointer;
}
.wrapper::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.boxCategory:hover, .boxCategory:focus, .boxCategory:active {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: box-shadow ease-in-out 150ms,transform ease-in-out 150ms;
  transition-delay: 50ms;
}

.wrapper .boxCategory{
  min-width: 110px;
  height: 110px;
  line-height: 200%;
  background-color: #ddd;
  margin: 10px;
  border-radius: 10px;

}